.idn .owl-theme .owl-dots {
	text-align: center;
	margin-top: 18px;
	margin-bottom: 15px
}

.idn1 .owl-theme .owl-dots .owl-dot {
	display: inline-block;
	text-align: center
}

.idn .owl-theme .owl-dots .owl-dot span {
	width: 7px;
	height: 7px;
	margin: 7px 7px;
	background: #f4f4f4;
	border: 0 solid #003366;
	display: block;
	transition: all .6s ease-in-out;
	cursor: pointer;
	border-radius: 50%
}

.idn .owl-theme .owl-dots .owl-dot:hover span {
	color: #fff;
	background: #222;
	padding: 5px;
	border-radius: 50%
}

.idn .owl-theme .owl-dots .owl-dot.active span {
	width: 5px;
	height: 5pxcolor:#fff;
	background: #003366;
	opacity: .8;
	padding: 5px;
	border-radius: 50%;
}

.idn .owl-carousel .owl-nav button.owl-next {
	position: absolute;
	top: 50%;
	right: 0px;
	padding: 0 15px 6px 15px !important;
	display: inline-block;
	transform: translateY(-50%);
	border-radius: 0;
	font-size: 35px;
	line-height: 35px;
	color: #003366
}

.idn .owl-carousel .owl-nav button.owl-next:hover {
	color: #85bcf4
}

.idn .owl-carousel .owl-nav button.owl-prev {
	position: absolute;
	top: 50%;
	left: 0px;
	padding: 0 15px 6px 15px !important;
	display: inline-block;
	transform: translateY(-50%);
	font-size: 35px;
	line-height: 35px;
	color: #003366
}

.idn .owl-carousel .owl-nav button.owl-prev:hover {
	color: #85bcf4
}

.idn .owl-arrow .owl-nav {
	position: absolute;
	top: 0;
	right: 0px;
	font-size: 1.8rem
}

.idn .owl-arrow .owl-nav .owl-prev,
.idn .owl-arrow .owl-nav .owl-next {
	display: inline-block;
	transition: all .6s ease-in-out;
	color: #000
}

@media only screen and (max-width:768px) {
	.idn .owl-carousel .owl-nav button.owl-prev {
		top: 42%;
		left: 0
	}

	.idn .owl-carousel .owl-nav button.owl-next {
		top: 42%;
		right: 0
	}
}
